
/* 

Developed By : Girlscript Technologies Pvt Ltd
Project : Groom School


Contents 

1. Variable

var(--secondary-color)
var(--primary-color)
var(--tertiary-color)
*/



/* #################################################             1. Variable              ########################################## */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: 'Manrope', sans-serif;
    
}

section {
    padding: 4vh 4vh;
}

:root {
    --primary-color: #0A1428;
    --secondary-color: #F24611;
    --secondary-color--dark: #a72e09;
    --tertiary-color : #6D6D6D;
  }
  

  .sm-only{
    display:none !important;
}



header .navbar__custom{
    background-color: white;
}



.banner {
    margin-top: 10%;
    height: 75vh;
    background-color:var(--primary-color) ;
    border-radius: 22px;
}

.girl_banner{
    position: absolute;
    right: 9%;
    bottom: 5%;
}

.banner_content{
    padding: 8vw 5vw 5vw 8vw;
}

.banner--heading{
    font-weight: 600;
    font-size: 64px;
    line-height: 87px;
    letter-spacing: -0.02em;
}

.banner--description{
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
}

.banner--button{
    background-color:var(--secondary-color) ;
    color: white;
    border: none;
    padding: 2% 11%;
    margin-top: 3vh;
    display:inline-block;
    text-decoration:none;
     cursor:pointer;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-weight:bold;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}


.banner--button:hover{
    background-color:white ;
    transition: 0.5s;
    font-weight: bolder;
    color: var(--secondary-color);
}



.section--heading{
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 141.9%;
    color:var(--primary-color) ;
}

.process_section{
    margin: 0vw 4vw;
}
.process_card{
    border: 5px solid #FFF5F2;
box-sizing: border-box;
border-radius: 12px;
padding: 3vh 3vh;
}

.process_card:hover{
    background: #FFF5F2;
    box-shadow: 0px 22px 22px -10px #a5a5a5;
    transition: 1s;
    
}

.process_card--icon{
    min-height: 15vh;
    margin:5vw 6vw 3vw;
    background: #F24611;
box-shadow: 0px 22px 22px -10px #F7AD97;
border-radius: 12px;
}

.process_card--content__heading{
    font-weight: bold;
font-size: 1.6rem;
line-height: 33px;
text-align: center;
letter-spacing: -0.02em;
}

.process_card--content__description{
  padding-top: 4%;
    color: var(--tertiary-color);
  font-size: 1rem;
  width: 100%;
}

.arrow1{
    position: absolute;
    top: 144vh;
    left: 28vw;
}

.arrow2{
    position: absolute;
    top: 144vh;
    left: 56vw;
}


.track_section{
    margin-top: 3%;
}

ul.track_nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
   
    overflow: hidden;
    display:inline;
    padding-left: 15%;
}

ul.track_nav li{
    display:inline;
}

.track-item{
font-family: Manrope;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 2rem;
text-align: center;
letter-spacing: -0.02em;
color: #0A1428;
opacity: 0.3;
margin-left: 8vh;
cursor: pointer;
}

.track-item:first-child{
    margin-left: 4vh; 
}


.track-item.active {
font-weight: bold;
font-size: 24px;
line-height: 33px;
text-align: center;
letter-spacing: -0.02em;
color: #0A1428;
opacity: 1;
line-height: 5vh;
border-bottom: 4px solid var(--secondary-color);

}

.track_tab{
     display: none;
}

.track_container{
    padding: 5% 0% 5% 18% ;
}

.accordion_section{
    margin-left: 15vw;
}

.accordion__heading{
color: var(--secondary-color);
font-weight: bold;
}

@media(min-width:700px)
{
    .navbar__custom {
        padding-top: 2%;  
    }
    .navbar-nav :not(:first-child) {
        margin-left: 3vw;
    }

    .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link:before {
        border-bottom: 6px solid var(--secondary-color);
        width:40%;
        margin-left: 1vw;
        color: var(--primary-color);
       
    }

    .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .show>.nav-link a {
        padding: 0 !important;
        line-height: 4vh;
        color: var(--primary-color);
    }

} 

@media(min-width:1920px)
{
    .girl_banner{
        position: absolute;
        right: 20%;
        bottom: 8%;
    }

    .process_card--icon{
        min-height: 15vh;
        margin:5vw 3vw 3vw;
        background: #F24611;
    box-shadow: 0px 22px 22px -10px #F7AD97;
    border-radius: 12px;
    }

    .arrow1{
        position: absolute;
        top: 140vh;
        left: 34.5vw;
    }
    
    .arrow2{
        position: absolute;
        top: 140vh;
        left: 54vw;
    }
}




.accordion-button{
    display: block;
}

.question_text{
    padding-left: 3%;
    font-style: normal;
font-weight: bold;
font-size: 1.2rem;
line-height: 141.9%;
color:#0A1428;
}

.answer_text {
    font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 1rem;
line-height: 140%;
color: #6D6D6D;
text-align: justify;
}

.accordion-button:not(.collapsed) {
    color: #0c63e4;
    background-color: white;
}

.accordion-body {
    padding-left: 12%;
}

.faq-caret{
    color:#0A1428;;
}

.cta_button{
    display:inline-block;
    text-decoration:none;
    background-color:white;
    color:#F14612;
    cursor:pointer;
    font-family:Helvetica,Arial,sans-serif;
    font-size:16px;
    line-height:45px;
    font-weight:bold;
    margin-top:0.8%;
    margin-left:0vw;
    text-align:center;
    height:45px;
    padding:0px 30px;
    border-radius:4px;
    max-width:60%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-weight:bold;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

.cta_button:hover{
    background-color: var(--primary-color);
    color: white;
}
.footer__dark__bg{
    background-color: #070e1b;
}

.footer__dark__bg{
    padding: 1%;
    padding-left: 2%;
}

.footer_section{
    background-color: var(--primary-color);
    padding: 2%;
    padding-top: 3%;
   
}

.ctc_section{
    background-color: var(--secondary-color);
    padding: 1%;
}

.cta_section--text{
    font-size: 1.3rem;
    text-align: center;
    padding-top: 0.8%;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    color: var(--primary-color);
}

.social-icons-container{
    display: flex;
    margin-top: 1.5rem;
}

.social-link {
    width: 35px;
    height: 35px;
    background: rgb(248, 248, 248);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    color: rgb(48, 48, 130);
    margin: 4px 15px 4px 0px;
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 7px 1px;
}


.footer_section--heading{
    font-size: 1.5rem;
    padding-bottom: 2vh;
}

.website_link{
    list-style: none;
    font-size: 18px;
    line-height: 2rem;
    padding-left: 0%;
}

.product__info--text{
    padding-top: 3vh;
    width: 80%;
}