:root {
    --primary-color: #0A1428;
    --secondary-color: #F24611;
    --secondary-color--dark: #a72e09;
    --tertiary-color: #6D6D6D;
}

.primary-button {
    background-color: var(--primary-color) !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    color: var(--primary-color);
}


  .md-only {
      display: block !important;
  }


  .sm-only {
      display: none !important;
  }

  .social-icon {
      width: 2vh;
      color: rgb(48, 48, 130);
  }


  .banner--button {
      background-color: var(--secondary-color);
      color: white;
      border: none;
      padding: 2% 11%;
      margin-top: 3vh;
      display: inline-block;
      text-decoration: none;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }

  .menu_button {
      margin-top: 0vh;
      margin-left: 1vh;
      margin-right: 6vh;
      padding-left: 15%;
      padding-right: 15%;
      flex-grow: 0.1;
  }

.banner--button:hover {
    background-color: white;
    transition: 0.5s;
    font-weight: bolder;
    color: var(--secondary-color);
}


.footer__dark__bg {
    background-color: #070e1b;
}

.footer__dark__bg {
    padding: 1%;
    padding-left: 2%;
}

.footer_section {
    background-color: var(--primary-color);
    padding: 2%;
    padding-top: 3%;

}

.social-icons-container {
    display: flex;
    margin-top: 1.5rem;
}

.social-link {
    width: 35px;
    height: 35px;
    background: rgb(248, 248, 248);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    color: rgb(48, 48, 130);
    margin: 4px 15px 4px 0px;
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 7px 1px;
}

.footer_section--heading {
    font-size: 1.5rem;
    padding-bottom: 2vh;
}

.website_link {
    list-style: none;
    font-size: 18px;
    line-height: 2.5rem;
    padding-left: 0%;
}

.link {
    text-decoration: none;
    color: inherit;
}

.product__info--text {
    padding-top: 3vh;
    width: 80%;
}

.footer_section--logo {
    width: 45%;
}

.footer_section__logo_container {
    padding-left: 5vw;
}

@media(min-width:700px) {
    .navbar__custom {
        padding-top: 1.5%;
        font-size: 18px;

    }

    .navbar_shadow {
        box-shadow: 0px 8px 30px -3px rgba(0, 0, 0, 0.08);
    }


    .navbar-nav :not(:first-child) {
        margin-left: 3vw;
    }

    .navbar-light .navbar-nav .nav-link.active,
    .navbar-light .navbar-nav .show>.nav-link:before {
      
        width: 40%;
        color: var(--primary-color);

    }

    .navbar-light .navbar-nav .nav-link,
    .navbar-light .navbar-nav .show>.nav-link a {
        padding: 0 !important;
        line-height: 4vh;
        color: var(--primary-color);
    }
}

@media(max-width:480px) {
    .navbar-light .navbar-toggler {
        color: rgba(0, 0, 0, .55);
        border: none;
    }

      .sm-only {
          display: block !important;
      }

.groom_school--logo {
    padding: 5%;
    width: 80%;

}

  .md-only {
      display: none !important;
  }


.footer_section--heading {
    font-size: 1.5rem;
    padding-top: 3vh;
}


.product__info--text {
    padding-top: 3vh;
    width: 100%;
}

.social-icons-container {
    padding-bottom: 3vh;
}

.footer_section--logo {
    width: 65%;
}

.footer_section__logo_container {
    margin-left: 0vw;
    margin-top: 5vh;
}


}

@media only screen and (max-width: 767px){ .et_pb_text_0 h1 {
    font-size: 40px;
    line-height: 1.3em;
}
}

.ctc_section {
    background-color: var(--secondary-color);
    padding: 1%;
}
.cta_section--text {
    font-size: 1.3rem;
    text-align: center;
    padding-top: 0.8%;
    text-decoration: none !important;
    
}


.link_faq {
    text-decoration: none;
}